[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "==0.2.10"
openai = "==1.36.1"
langchain-openai = "==0.1.17"
langchain-community = "==0.2.9"
python-dotenv = "*"
tiktoken = "*"
fastapi = "==0.111.0"
black = "*"
unstructured = "*"
psycopg2-binary = "*"
langchain-postgres = "*"
pgvector = "*"
python-magic-bin = "==0.4.14"

[dev-packages]

[requires]
python_version = "3.12"
